<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12" style="background-color: #2E8FDE;">
      <table class="table" style="color: white;">
        <thead style="font-size: 34px;">
          <tr>
            <th scope="col" class="text-center font-weight-bold">Ticket #</th>
            <th scope="col" class="text-center font-weight-bold">Sala</th>
            <th scope="col" class="text-center font-weight-bold">Consulta</th>
            <th scope="col" class="text-center font-weight-bold">Status</th>
          </tr>
        </thead>
        <tbody style="font-size: 54px;">
          <tr style="background-color: #2E8FDE;" *ngFor="let turn of turns">
            <th scope="row" class="text-center font-weight-bold">{{ turn.turn }}</th>
            <td class="text-center font-weight-bold">{{ turn.waiting_room_id }}</td>
            <td class="text-center font-weight-bold">{{ turn.doctor_office_id }}</td>
            <td class="text-center text-uppercase font-weight-bold">Calling</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
