<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/images/Logo-Valdecilla-Idival.jpg" height="120" width="400">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" style="font-size: 46px;">
      <!--<span class="text-right"> myDate | date:'medium' </span>-->
    </div>
  </div>
</div>
